*.o
*.so*
*.os
*.1
grok_capture_xdr.*
grok_version.h
*.gem
test.grok
grok
grok.1
discogrok
grok.spec
VERSION
test/*.test
conf.tab.c
conf.yy.c
filters.c
grok_matchconf_macro.c
config.log
.sconf_temp
.sconsign.dblite
